########### Docker

WEBSERVER_HOST_PORT=4000
WEBSERVER_DOCKER_PORT=80

API_DOCKER_PORT=9000

DB_HOST_PORT=4001
DB_DOCKER_PORT=3306

DB_CONNECTION=mysql
DB_PORT=${DB_DOCKER_PORT}
DB_HOST=db
DB_USERNAME=products
DB_PASSWORD=1234
DB_DATABASE=products
DB_ROOT_PASSWORD=4321

COMPOSER_VERSION="2.1.12"
COMPOSER_SUM="ae3ec292dd04b4e468aea1e5db4d085f169d8a803aabeb99707f69e9454bf218"
